@using MAFTLECOME.Data;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> MAF TELECOM-@ViewData["Title"]  </title>
    <link rel="icon" type="image/jpeg" href="~/uploads/Logo.jpeg">
    <!--/google-fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,400;0,600;0,700;0,800;1,600&display=swap" rel="stylesheet">
    <!--//google-fonts -->
    <!--/Template-CSS -->
    <link rel="stylesheet" href="~/assets/css/style-starter.css">
    <!--//Template-CSS -->
</head>
<body>
    @if (!SignInManager.IsSignedIn(User))
    {
        <!-- top header -->
        <section class="w3l-top-header py-3">
            <div class="container">
                <div class="d-grid main-top">
                    <div class="top-header-left">
                        <ul class="info-top-gridshny">
                            <li class="info-grid">
                                <div class="info-icon"><span class="far fa-clock"></span></div>
                                <div class="info-text">
                                    <p>Monday - Friday 08:00 - 20:00</p>
                                    <p>Saturday and Sunday - CLOSED</p>
                                </div>

                            </li>
                            <li class="info-grid">
                                <div class="info-icon"><span class="fas fa-phone-alt"></span></div>
                                <div class="info-text">
                                    <p><a href="tel:+1(21) 234 4567">+1(21) 234 557 4567</a></p>
                                    <p><a href="tel:+1(21) 234 4568">+1(21) 234 557 45678</a></p>
                                </div>

                            </li>
                            <li class="info-grid">
                                <div class="info-icon"><span class="fas fa-map-marker-alt"></span></div>
                                <div class="info-text">
                                    <p>34th Avenue</p>
                                    <p>New York, S2 Honey Block</p>

                                </div>

                            </li>
                        </ul>
                    </div>
                    <div class="top-header-right text-lg-right">
                        <ul>
                            <li>
                                <a href="#facebook"><span class="fab fa-facebook-f"></span></a>
                            </li>
                            <li>
                                <a href="#twitter"><span class="fab fa-twitter"></span></a>
                            </li>
                            <li><a href="#instagram" class="instagram mr-0"><span class="fab fa-instagram"></span></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </section>
    }
    <!-- //top header -->
    <!--/Header-->
    <header id="site-header" class="">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light stroke py-lg-0">
                <h1>
                    <a class="navbar-brand pe-xl-5 pe-lg-4" asp-action="Index">
                        MAF TELECOM
                    </a>
                </h1>

                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav ms-lg-auto my-2 my-lg-0 navbar-nav-scroll">
                        <li class="nav-item">
                            <a class="nav-link active" text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Product" asp-action="Product_Index">Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Inventory" asp-action="test">Inventory</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                        @if (User.IsInRole(Roles.Admin.ToString()))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/AdminOperations/Dashboard">Dashboard</a>
                            </li>
                            @*  <li class="nav-item">
                        <a class="nav-link"
                        href="/AdminOperations/AllOrders">Orders</a>
                        </li>

                        <li class="nav-item">
                        <a class="nav-link" href="/Stock/Index">Stock</a>
                        </li>

                        <li class="nav-item">
                        <a class="nav-link" href="/Genre/Index">Genre</a>
                        </li>

                        <li class="nav-item">
                        <a class="nav-link" href="/Book/Index">Books</a>
                        </li> *@
                        }

                        @*<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                        </li>*@
                    </ul>
                    <partial name="_LoginPartial" />

                </div>
        </div>
                    </ul>

                   
                </div>
                <!-- toggle switch for light and dark theme -->
                <div class="mobile-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!--//Header-->
    
    <div>
        @RenderBody()
    </div>

    <!--/footer-9-->
    <footer class="w3l-footer9">
        <section class="footer-inner-main py-5">
            <div class="container py-md-3">
                <div class="right-side">
                    <div class="row footer-hny-grids sub-columns">
                        <div class="col-lg-4 sub-one-left pe-lg-5">
                            <h6>About </h6>
                            <p class="footer-phny pe-lg-3">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula. Semper at tempufddfel.Lorem ipsum dolor sit,l.Lorem ipsum dolor sit, amet consectetur elit. </p>
                            <div class="columns-2 mt-lg-5 mt-4">
                                <ul class="social">
                                    <li>
                                        <a href="#facebook"><span class="fab fa-facebook-f"></span></a>
                                    </li>
                                    <li>
                                        <a href="#linkedin"><span class="fab fa-linkedin-in"></span></a>
                                    </li>
                                    <li>
                                        <a href="#twitter"><span class="fab fa-twitter"></span></a>
                                    </li>
                                    <li>
                                        <a href="#google"><span class="fab fa-google-plus-g"></span></a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 sub-two-right">
                            <h6>Useful Links</h6>
                            <ul>
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>
                                    <a href="about.html">About Us</a>
                                </li>

                                <li>
                                    <a href="services.html">Services</a>
                                </li>

                                <li>
                                    <a href="#blog">Blog</a>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2 sub-two-right">
                            <h6>Company</h6>
                            <ul>

                                <li>
                                    <a href="#why">Customer Services</a>
                                </li>
                                <li>
                                    <a href="#licence">
                                        Prompt Delivery
                                    </a>
                                </li>
                                <li>
                                    <a href="#log">
                                        Offers
                                    </a>
                                </li>
                                <li>
                                    <a href="#log">
                                        Reliable Equipment
                                    </a>
                                </li>
                                <li><a href="#career">Careers</a></li>


                            </ul>
                        </div>
                        <div class="col-lg-4 sub-one-left">
                            <h6>Twitter Feed</h6>
                        </div>
                    </div>
                </div>
                <div class="below-section mt-5">
                    <div class="copyright-footer">
                        <div class="columns text-left">
                            <p>
                                © 2021 Construe. All rights reserved | Designed by <a href="https://w3layouts.com" target="_blank">W3layouts</a>
                            </p>
                        </div>
                        <ul class="footer-w3list text-right">
                            <li>
                                <a href="#url">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#url">Terms &amp; Conditions</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </section>

        <!-- Js scripts -->
        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
            <span class="fas fa-level-up-alt" aria-hidden="true"></span>
        </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }

        </script>
        <!-- //move top -->
    </footer>
    <!--//footer-9 -->
    <!-- Template JavaScript -->
    <script src="~/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/assets/js/theme-change.js"></script>
    <!-- MENU-JS -->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });

    </script>
    <!-- //MENU-JS -->
    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });

    </script>
    <!-- //disable body scroll which navbar is in active -->
    <!-- //bootstrap -->
    <script src="~/assets/js/bootstrap.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)




</body>
< src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></>
<script>
    loadCartCount();
    async function loadCartCount() {
        try {
            var response = await fetch(`/Cart/GetTotalItemInCart`);
            console.log(response)
            if (response.status == 200) {
                var result = await response.json();
                var cartCountEl = document.getElementById("cartCount");
                cartCountEl.innerHTML = result;
            }
        }
        catch (err) {
            console.log(err);
        }
    }
</script>
</html>


