@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="inner-banner py-5 pb-sm-0">
    <section class="w3l-breadcrumb text-left py-sm-5 pb-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="w3breadcrumb-right">
                           <partial name="_ManageNav" />
                    
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div class="card shadow-sm">
    <div class="card-body p-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @RenderSection("Scripts", required: false)
}
