@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
<partial name="_StatusMessage" for="StatusMessage" />




<section class="w3l-subscribe-content py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">

                <h2 class="h4 mb-4" style="color:black; font-family: Arial, sans-serif; font-weight: bold; text-transform: uppercase;">@ViewData["Title"]</h2>
                        @if (!string.IsNullOrEmpty(Model.Input.ProfilePicture))
                        {
                    <div class="text-right mb-4">
                                <img src="/uploads/@Model.Input.ProfilePicture" class="img-fluid" style="max-height: 150px;" alt="Profile Picture">
                            </div>
                        }
                        <form id="profile-form" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>
                            <div class="mb-3">
                                <label asp-for="Username" class="form-label">Username</label>
                                <input asp-for="Username" class="form-control" placeholder="Enter your username" disabled>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Input.PhoneNumber" class="form-label">Phone Number</label>
                                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Enter your phone number">
                                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Input.Name" class="form-label">Name</label>
                                <input asp-for="Input.Name" class="form-control" placeholder="Enter your name">
                                <span asp-validation-for="Input.Name" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="ProfilePicture">Profile Picture</label>
                                <input type="file" asp-for="Input.ImageFile" class="form-control">
                            </div>
                            <div class="text-center">
                        <button id="update-profile-button" asp-page-handler="updateprofile" class="w-100 btn btn-lg btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
