@model CheckoutModel
@{
    ViewData["Title"] = "Checkout";
}

<div class="inner-banner py-5 pb-sm-0">
    <section class="w3l-breadcrumb text-left py-sm-5 pb-0">
        <div class="container">
            <div class="w3breadcrumb-gids">
                <div class="w3breadcrumb-right">
                    <ul class="breadcrumbs-custom-path">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="active"><span class="fas fa-angle-double-right mx-2"></span> @ViewData["Title"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="w3l-subscribe-content py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
<form asp-action="Checkout">
    <div class="py-2">
        <label asp-for="Name">Name*</label>
        <input type="text" class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="py-2">
        <label asp-for="Email">Email*</label>
        <input type="text" class="form-control" asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>

    </div>

    <div class="py-2">
        <label asp-for="MobileNumber">MobileNumber*</label>
        <input type="text" class="form-control" asp-for="MobileNumber" />
        <span asp-validation-for="MobileNumber" class="text-danger"></span>
    </div>


    <div class="py-2">
        <label asp-for="Address">Address*</label>
        <textarea class="form-control" asp-for="Address" rows="5"> </textarea>
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="py-2">
        <span class="mr-2">COD*</span>
        <select asp-for="PaymentMethod" class="form-control">
            <option value="">Select Payment Method</option>
            @foreach (var method in Enum.GetValues(typeof(MAFTLECOME.Constants.PaymentMethods)))
            {
                <option value="@method.ToString()">@method.ToString()</option>

            }
        </select>
        <span asp-validation-for="PaymentMethod" class="text-danger"></span>
    </div>

    <div class="py-2">
        <button type="submit" class="btn btn-info">Next</button>
    </div>
</form>
</div>
</div>
</div>
</section>