@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<div class="inner-banner py-5 pb-sm-0">
    <section class="w3l-breadcrumb text-left py-sm-5 pb-0">
        <div class="container">
            <div class="w3breadcrumb-gids">
                <div class="w3breadcrumb-right">
                    <ul class="breadcrumbs-custom-path">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="active"><span class="fas fa-angle-double-right mx-2"></span>@ViewData["Title"]</li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
</div>
<section class="w3l-subscribe-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 subscribe-content-left p-md-5 p-4">
                <div class="subscribe p-lg-5 p-3">
                    <div class="title-content-two text-left">
                        <h6 class="title-subw3hny mb-2">login</h6>
                        <h3 class="title-w3l">Stay Update!</h3>
                        <p class="my-3">
                            Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
                            consectetur adipisicing.
                            turpis sodales quis. Integer sit amet consequuntur illum mattis quam.
                        </p>
                    </div>
                    <div class="flex-wrap subscribe-wthree-field">
                        <partial name="_StatusMessage" model="Model.StatusMessage" />
                    </div>
                </div>
