@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner-banner py-5 pb-sm-0">
    <section class="w3l-breadcrumb text-left py-sm-5 pb-0">
        <div class="container">
            <div class="w3breadcrumb-gids">
                <div class="w3breadcrumb-right">
                    <ul class="breadcrumbs-custom-path">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="active"><span class="fas fa-angle-double-right mx-2"></span>Sign Up</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="w3l-subscribe-content">
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 subscribe-content-left p-md-5 p-4">
                    <div class="subscribe p-lg-5 p-3">
                        <div class="title-content-two text-left">
                            <h6 class="title-subw3hny mb-2">Sign Up</h6>
                            <h3 class="title-w3l">Stay Update!</h3>
                            <p class="my-3">
                                Stay informed with the latest news and updates. Sign up today!
                            </p>
                        </div>
                        <div class="flex-wrap subscribe-wthree-field">
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                            <div class="form-floating mb-3">
                                <input asp-for="Input.Name" class="form-control" aria-required="true" placeholder="Name" />
                                <label asp-for="Input.Name">Name</label>
                                <span asp-validation-for="Input.Name" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
                                <label asp-for="Input.Email">Email</label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <input asp-for="Input.Password" type="password" class="form-control" aria-required="true" placeholder="Password" />
                                <label asp-for="Input.Password">Password</label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <input asp-for="Input.ConfirmPassword" type="password" class="form-control" aria-required="true" placeholder="Password" />
                                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>

                            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 subscribe-content-right p-0">
                </div>
            </div>
        </div>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
